In [1]:
%%HTML
<style>
    body {
        --vscode-font-family: "KoddiUD Ïò®Í≥†Îîï"
    }
</style>

# ÏΩîÌò∏Ìä∏ Î∂ÑÏÑù
- Í∏∞Ï§Ä
  - ÏãúÍ∞Ñ Í∏∞Î∞ò ÏΩîÌò∏Ìä∏
  - ÌñâÎèô Í∏∞Î∞ò ÏΩîÌò∏Ìä∏
  - Ïù∏Íµ¨ ÌÜµÍ≥ÑÌïôÏ†Å ÏΩîÌò∏Ìä∏

## ‚è±Ô∏è ÏãúÍ∞Ñ Í∏∞Î∞ò ÏΩîÌò∏Ìä∏

In [10]:
import pandas as pd
import numpy as np
import random

In [7]:
# Í∞ÄÏÉÅ {Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
data = {
  'customer_id' : range(1, 501),
  'signup_date' : random.sample(pd.date_range(start='2023-01-01', periods=500, freq='D').tolist(), 500),
  'total_payment' : np.random.randint(100, 500, 500)
}

In [15]:
df = pd.DataFrame(data)
df.head()

   customer_id signup_date  total_payment
0            1  2024-02-23            244
1            2  2023-10-18            288
2            3  2023-03-27            451
3            4  2023-05-27            332
4            5  2024-03-01            219

In [16]:
df['signup_based_cohort'] = df['signup_date'].dt.to_period('M')
df.head()

   customer_id signup_date  total_payment signup_based_cohort
0            1  2024-02-23            244             2024-02
1            2  2023-10-18            288             2023-10
2            3  2023-03-27            451             2023-03
3            4  2023-05-27            332             2023-05
4            5  2024-03-01            219             2024-03

## üèÉ ÌñâÎèô Í∏∞Î∞ò ÏΩîÌò∏Ìä∏

e.g. Ï≤´ Íµ¨Îß§ ÏÉÅÌíà

In [23]:
# Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
data = {
  'customer_id':np.random.randint(1, 100, 500),
  'order_date': random.sample(pd.date_range(start='2023-01-01', periods = 500, freq='D').tolist(), 500),
  'product_id': [np.random.choice([101, 102, 103, 104, 105])for i in range(500)],
  'total_payment': np.random.randint(100, 500, 500)
}

In [24]:
pd.DataFrame(data)
df.head()

   customer_id signup_date  total_payment signup_based_cohort
0            1  2024-02-23            244             2024-02
1            2  2023-10-18            288             2023-10
2            3  2023-03-27            451             2023-03
3            4  2023-05-27            332             2023-05
4            5  2024-03-01            219             2024-03

In [34]:
# Í≥†Í∞ùÎ≥ÑÎ°ú Ï≤´ Íµ¨Îß§ ÎÇ†Ïßú Ï∞æÍ∏∞
first_purchase = df.groupby('customer_id')['order_date'].min().reset_index()
first_purchase.columns = ['customer_id', 'first_purchase_date']
first_purchase

    customer_id first_purchase_date
0             1          2023-05-15
1             2          2023-04-20
2             3          2023-02-27
3             4          2023-02-04
4             5          2023-01-31
..          ...                 ...
93           95          2023-09-27
94           96          2023-02-05
95           97          2023-01-17
96           98          2023-01-14
97           99          2023-06-16

[98 rows x 2 columns]

In [35]:
# Í≥†Í∞ù Î≥Ñ Ï≤´ Íµ¨Îß§ ÎÇ†ÏßúÏôÄ Í≥†Í∞ù IDÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Ï≤´ Íµ¨Îß§ ÏÉÅÌíà Ï∞æÍ∏∞
first_purchase.head(3)

   customer_id first_purchase_date
0            1          2023-05-15
1            2          2023-04-20
2            3          2023-02-27

In [36]:
df.head()

   customer_id order_date  product_id  total_payment
0           62 2023-07-18         101            353
1           24 2024-03-23         104            320
2           92 2024-01-07         101            276
3           84 2023-04-29         101            377
4           11 2024-05-06         102            283

In [39]:
first_product = first_purchase.merge(df, 
                      left_on = ['customer_id','first_purchase_date'],
                      right_on = ['customer_id', 'order_date'],
                      how = 'left')
first_product.head()

   customer_id first_purchase_date order_date  product_id  total_payment
0            1          2023-05-15 2023-05-15         103            160
1            2          2023-04-20 2023-04-20         105            208
2            3          2023-02-27 2023-02-27         102            127
3            4          2023-02-04 2023-02-04         102            132
4            5          2023-01-31 2023-01-31         101            484

In [40]:
first_product = first_product[['customer_id', 'product_id']]
first_product.columns = ['customer_id', 'first_product_cohort']

In [41]:
first_product.head(10)

   customer_id  first_product_cohort
0            1                   103
1            2                   105
2            3                   102
3            4                   102
4            5                   101
5            6                   101
6            7                   102
7            8                   103
8            9                   105
9           10                   102

## üßë‚Äçüßë‚Äçüßí‚Äçüßí Ïù∏Íµ¨ ÌÜµÍ≥ÑÌïôÏ†Å ÏΩîÌò∏Ìä∏

In [42]:
# Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
data = {
    'customer_id' : range(1, 101),
    'age' : np.random.randint(18, 70, 100),
    'gender' : np.random.choice(['Male', 'Female'], 100),
    'total_payment' : np.random.randint(100, 1000, 100)
}

In [43]:
df = pd.DataFrame(data)
df.head()

   customer_id  age  gender  total_payment
0            1   63  Female            381
1            2   45    Male            601
2            3   18  Female            149
3            4   39    Male            300
4            5   41  Female            845

In [44]:
df['age_group'] = pd.cut(df['age'], bins=[0, 20, 30, 40, 50, 60, 70], labels=['10s', '20s', '30s', '40s', '50s', '60s'])
df['cohort'] = df.apply(lambda x : f"{x['age_group']}_{x['gender']}", axis=1)
df.head()

   customer_id  age  gender  total_payment age_group      cohort
0            1   63  Female            381       60s  60s_Female
1            2   45    Male            601       40s    40s_Male
2            3   18  Female            149       10s  10s_Female
3            4   39    Male            300       30s    30s_Male
4            5   41  Female            845       40s  40s_Female

## ÏΩîÌò∏Ìä∏ Î∂ÑÏÑù

In [46]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [49]:
# Í∞ÄÏÉÅ Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
n_customers = 500
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
date_range = (end_date - start_date).days

In [51]:
data = {
  'customer_id': np.random.choice(range(1, n_customers + 1), size=1000),
  'purchase_date': [start_date + timedelta(days = np.random.randint(date_range))for _ in range(1000)],
  'purchase_amount': np.random.uniform(100, 1000, size = 1000)
}

In [52]:
# Îß§Îã¨ 1ÏùºÎ°ú ÏßÄÏ†ï -> Ïó∞ÎèÑÏôÄ Ïõî Í∏∞Ï§Ä ÏΩîÌò∏Ìä∏

### ÏΩîÌò∏Ìä∏ Ï†ïÏùò

In [53]:
df['cohort'] = df['purchase_date'].apply(lambda x: x.replavce(day=1))

df.head()

KeyError: 'purchase_date'

In [54]:
# Í∞Å Í≥†Í∞ùÏùò Ï≤´ Íµ¨Îß§ ÎÇ†Ïßú Ìï†Îãπ
df.groupby('customer_id')['purchase_date'].min().apply(lambda x: x.replace(day=1))

KeyError: 'Column not found: purchase_date'

In [ ]:
# ÏΩîÌò∏Ìä∏Î≥Ñ ÏõîÎ≥Ñ ÏßÄÌëú Í≥ÑÏÇ∞
df['month_since_first_purchase'] = df['cohort'].dt.year - df['first_purchase_date'].dt.year) * 12 + (df['cohort'].dt.month - df['first_purchase_date'].dt.month)

SyntaxError: unmatched ')' (4106786434.py, line 2)

In [58]:
cohort_data = df.groupby(['first_purchase_date', 'month_since_first_purchase'].agg(n_customers = ['customer_id', 'nunique'], total_purchases('purchase_amount', 'sum')).reset_index()

SyntaxError: positional argument follows keyword argument (4175803987.py, line 1)

group byÏóê ÎÑ£Îäî Í∞íÏùÄ Ï≤´ Íµ¨Îß§ ÎÇ†Ïßú, Î©∞Ïπ†Ïù¥ÎÇò ÏßÄÎÇ¨ÎäîÏßÄ

In [59]:
cohort_data.head()

NameError: name 'cohort_data' is not defined

**ÌîºÎ≤ó ÌÖåÏù¥Î∏î** ÎßåÎì§Í∏∞

In [61]:
# ÏΩîÌò∏Ìä∏ ÌîºÎ≤ó ÌÖåÏù¥Î∏î
cohort_pivot = cohort_data.pivot_table(index = 'first_purchase_date', columns)

SyntaxError: positional argument follows keyword argument (2767586053.py, line 2)

In [62]:
# ÏΩîÌò∏Ìä∏ ÏÇ¨Ïù¥Ï¶à ÏÇ∞Ï∂ú
cohort_pivot.illoc[:0]

NameError: name 'cohort_pivot' is not defined

**Ìï¥ÏÑù**

2024ÎÖÑ ÏõîÎ≥ÑÎ°ú ÏΩîÌò∏Ìä∏(Ï≤´ Íµ¨Îß§ Ïõî)Ïóê ÏÜçÌïú ÏΩîÌò∏Ìä∏ ÏÇ¨Ïù¥Ï¶à(ÏÇ¨Ïö©Ïûê Ïàò)Î°ú Ìï¥Îãπ ÏõîÏóê Ï≤´ Íµ¨Îß§Î•º Ìïú ÏÇ¨Ïö©ÏûêÏùò Ïàò

- Ï¥àÍ∏∞ Íµ¨Îß§Ïûê ÏàòÍ∞Ä ÎÜíÍ≥† Ïù¥ÌõÑ Í∞êÏÜå Ï∂îÏÑ∏
  - 2024ÎÖÑ 1Ïõî(87Î™Ö) Ïù¥ÌõÑ ÏÇ¨Ïö©Ïûê ÏàòÍ∞Ä Ï†êÏ∞® Í∞êÏÜåÌïòÎ©∞, 9ÏõîÎ∂ÄÌÑ∞Îäî 30Î™Ö Ïù¥ÌïòÎ°ú Í∞êÏÜå Ï∂îÏÑ∏
  - ÏãúÍ∞ÑÏù¥ ÏßÄÎÇ®Ïóê Îî∞Îùº Ï≤´ Íµ¨Îß§Î•º ÌïòÎäî ÏÇ¨Ïö©ÏûêÍ∞Ä Ï§ÑÏñ¥Îì§Í≥† ÏûàÏùåÏùÑ ÏùòÎØ∏ÌïòÎ©∞, ÏÑúÎπÑÏä§Ïóê ÎåÄÌïú Í¥ÄÏã¨Ïù¥ÎÇò Íµ¨Îß§ Ï†ÑÌôòÏú®Ïù¥ Ï¥àÍ∏∞Î≥¥Îã§Îäî Í∞êÏÜåÌïòÍ≥† ÏûàÏùÑ Í∞ÄÎä•ÏÑ±ÏùÑ ÏãúÏÇ¨
- ÏãúÏ¶åÎ≥Ñ Íµ¨Îß§ Î≥ÄÌôî Í∞ÄÎä•ÏÑ±
  - ÌäπÏ†ï ÏõîÏóê Íµ¨Îß§ÏûêÍ∞Ä ÌÅ¨Í≤å Ï¶ùÍ∞ÄÌïòÎäî Ìå®ÌÑ¥Ïù¥ Î≥¥ÏßÄÎîî ÏïäÎäî Í≤ÉÏúºÎ°ú Î≥¥ÏïÑ Í≥ÑÏ†àÏ†Å ÏöîÏù∏Ïù¥ÎÇò ÌîÑÎ°úÎ™®ÏÖòÏóê Îî∞Î•∏ ÏÑ±Ïû•ÏùÄ ÌôïÏù∏ÎêòÏßÄ ÏïäÏùå
- Í≤∞Î°†Ï†ÅÏúºÎ°ú ÏãúÍ∞ÑÏù¥ ÏßÄÎÇ®Ïóê Îî∞Îùº Ïã†Í∑ú ÏÇ¨Ïö©Ïûê Ïú†ÏûÖÏù¥ Ï§ÑÏñ¥ÎìúÎäî Î¨∏Ï†úÍ∞Ä ÏûàÏùå
  - Ï¥àÍ∏∞ Ïú†ÏûÖÍ≥º Ï≤´ Íµ¨Îß§ Ï†ÑÌôòÏú®ÏùÑ ÎÜíÏù¥Îäî Ï†ÑÎûµ ÌïÑÏöî
  - Ï≤´ Íµ¨Îß§ Ï†ÑÌôòÏú®ÏùÑ ÎÜíÏù¥Îäî Ï†ÑÎûµ ÌïÑÏöî

In [ ]:
# Ïú†ÏßÄÏú® Í≥ÑÏÇ∞
retention_matrix = np.round(cohort_pivot.divide(cohort_size, axis =0) * 100, 2)
retention_matrix

NameError: name 'cohort_pivot' is not defined

In [64]:
# ÎåÄÏ≤¥Î°ú Í∞êÏÜå Ï∂îÏÑ∏
# ÏΩîÌò∏Ìä∏ Ï∂îÏÑ∏Í∞Ä ÏïàÏ†ïÏ†Å -> Ïñ¥Îñ§ Ïù¥Ïú†Î°ú Ïû•Í∏∞ Ï∂©ÏÑ±ÏùÑ Î≥¥Ïù¥Îäî ÏßÄ ÏïåÏïÑÎ≥¥Í∏∞

**Ìï¥ÏÑù**
- ÏõîÎ≥ÑÎ°ú Ï≤´ Íµ¨Îß§Î•º Ìïú ÏÇ¨Ïö©Ïûê ÏΩîÌò∏Ìä∏Ïóê ÎåÄÌï¥ÏÑú Í∞Å ÏΩîÌò∏Ìä∏Í∞Ä Î™á Í∞úÏõî ÌõÑÏóêÎèÑ ÌôúÎèô(Íµ¨Îß§)Î•º ÏßÄÏÜçÌïòÎäî ÎπÑÏú®ÏùÑ ÎÇòÌÉÄÎÇ¥Îäî Î¶¨ÌÖêÏÖò Î∂ÑÏÑù Í≤∞Í≥º, Í∞Å Í∞íÏùÄ Ìï¥Îãπ ÏΩîÌò∏Ìä∏ÏóêÏÑú Ï≤´ Íµ¨Îß§ ÌõÑ ÌäπÏ†ï Í∞úÏõî ÏàòÍ∞Ä ÏßÄÎÇú ÏãúÏ†êÍπåÏßÄ ÎÇ®ÏïÑ ÏûàÎäî(Îã§Ïãú Íµ¨Îß§Ìïú) ÏÇ¨Ïö©ÏûêÏùò ÎπÑÏú®
  - e.g. 2024ÎÖÑ 1ÏõîÏóê Ï≤´ Íµ¨Îß§Î•º Ìïú ÏΩîÌò∏Ìä∏Ïùò 1Í∞úÏõî Ï∞® Î¶¨ÌÖêÏÖò: 10.34%